.modal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,  0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
 }
 
 .modal .box{
     background-color: #fff;
     width: 100%;
     max-width: 400px;
     padding: 20px;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
 }
 
 .modal .box .top{
     width: 100%;
     border-bottom: 1px solid #dee2e6;
     margin-bottom: 10px;
 }
 
 .modal .box .top h3{
     font-weight: 500;
     font-size: 18px;
     font-family: Helvetica;
     margin-bottom: 15px;
 }

 .modal form {
     display: flex;
     flex-direction: column;
     gap: 0px!important;
     padding: 0!important;
 }

 .modal form .input{
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

 .modal form .input label{
    color: #7d7e82;
    font-weight: 400;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,Arial,lucida grande,tahoma,verdana,arial,sans-serif;
 }

 .modal form .input input{
    border: 1px solid #d0d0d0!important;
    border-radius: 4px!important;
    padding: 13px;
    font-size: 16px;
}

.modal form button{
    outline: none;
    border: none;
    width: 100%;
    background-color: #eaf4fc;
    color: #267df1;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400!important;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: none;
    font-family: Helvetica;
    cursor: pointer;
}



 .modal form .securityInfo{
    font-weight: 300;
    font-family: Helvetica;
    margin-bottom: 15px;
    font-size: 14px;
}

.modal form .input .error{
    color: red;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: Helvetica;
}

.modal form button{
    margin-top: 15px;
}