.form{
    width: 100%;
    max-width: 632px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    background-color: #fff;
}

.form .top{
    width: 100%;
    padding: 12px;
    background-color: #f5f6f7;
}

.form .top h2{
    color: #4b4f56;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.form .info{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form .info b{
    width: 100%;
    font-weight: 600;
    color: #4b4f56;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 12px;
}

.form .info .formControl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
}

.form .info .formControl label{
    color: #90949c;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.form .info .formControl input{
    max-width: 250px;
    padding: 5px;
    border: 1px solid #CACACA;
    font-size: 15px;
}

.form .info .formControl textarea{
    max-width: 250px;
    padding: 5px;
    border: 1px solid #CACACA;
    font-size: 15px;
    height: 130px;
}

.form .info .formControl:nth-last-child(2) input{
    padding-left: 48px;
}

.form .bottom{
    width: 100%;
    padding: 8px;
    background-color: #f5f6f7;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e5e5e5;
}

.form .bottom button{
    outline: none;
    border: none;
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    font-size: 13px;
    border-radius: 2px;
    padding: 8px 8px;
    font-weight: bold;
    cursor: pointer;
}   

.form .bottom button:disabled{
    background-color: #4267b23d;
    pointer-events: none;
}


