.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 56px;
    height: 100vh;
    background-color: #fff;  
    padding: 8px 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);  
}

.menuTop{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.iconHome{
    width: 24px;
    height: 24px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/7q50WDz3-9-.png);
    -webkit-mask-size: 51px 452px;
    -webkit-mask-position: 0px -254px;
    background-color: currentColor;
    padding: 5px;
    cursor: pointer;
}

.iconMore{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    -webkit-mask-size: 25px 2337px;
    -webkit-mask-position: 0px -963px;
    background-color: currentColor;
    padding: 5px;
    cursor: pointer;
}

.iconAvatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.iconAvatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.iconOverview{
    width: 24px;
    height: 24px;
    background-position: 0 -75px;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    background-size: 25px 2337px;
    background-repeat: no-repeat;
    display: inline-block;
    color: rgba(28,43,51,1);
    cursor: pointer;
}

.menuBottom{
    height: calc(100vh - 180px);
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.menuBottomWrapper{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding-bottom: 20px;

}

.iconGear{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    -webkit-mask-size: 25px 2337px;
    -webkit-mask-position: 0px -1026px;
    background-color: currentColor;
    cursor: pointer;
}

.iconNotification{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    -webkit-mask-size: 25px 2337px;
    -webkit-mask-position: 0px -543px;
    background-color: currentColor;
    cursor: pointer;
}

.iconSearch{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    -webkit-mask-size: 25px 2337px;
    -webkit-mask-position: 0px -921px;
    background-color: currentColor;
    cursor: pointer;
}

.iconHelp{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/7q50WDz3-9-.png);
    -webkit-mask-size: 51px 452px;
    -webkit-mask-position: -21px -304px;
    background-color: currentColor;
    cursor: pointer;
}

.iconExpand{
    width: 20px;
    height: 20px;
    -webkit-mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/S8-VkxXOqUB.png);
    -webkit-mask-size: 25px 2337px;
    -webkit-mask-position: 0px -1152px;
    background-color: currentColor;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .sidebar{
        display: none;
    }
}



